<div class="jumbotron center">
  <h1>Welcome to MyCocktails App</h1>

  <h2>
    Create, share and enjoy
  </h2>

  <%= link_to "Sign up", register_path, class: "btn btn-lg btn-success" %>
</div>


<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Cocktails as Guest
    </h3>
    <h2 class="left">
      Browse and view Cocktail Recipes as Guest
    </h2>
    <p><%= link_to "Browse cocktails", recipes_path, class: "btn btn-warning btn-small home-links" %></p>
  </div>

  <div class="col-lg-4">
    <h3 class="midrow">
      Sign in
    </h3>
    <h2 class="left">
      Add / update cocktails like / dislike cocktails and much more !
    </h2>
    <p><%= link_to "Login to your account", login_path, class: "btn btn-warning btn-small home-links" %></p>
  </div>

  <div class="col-lg-4">
    <h3 class="midrow">
      View Cocktails as Guest
    </h3>
    <h2 class="left">
      Browse and view Cocktail Recipes as Guest
    </h2>
    <p><%= link_to "About MyCocktails", about_path, class: "btn btn-warning btn-small home-links" %></p>
  </div>

</div>
