
  <h1 class='heading-about'>About MyCocktails App</h1>
  <p class='about-page'>
    This applictions intent is to share and discuss new and upcomming cocktails
    in bars and resteraunts around the globe. It sets a perfect environment form
    beginners and professionals alike to discover, share and ultimately enjoy
    a wide range of cocktail recipes from around the world. <br>
    Come an elmer tee old fashioned from North America or a Mezcal mule from Mexico
    , this application gives passionate barmen/women to come together and collaborate.
  </p>
  <section class='about-page'>
    <div class="row">
      <div class="col-md-4 col-md-offset-2 center ">
        <img src="/assets/cocktail.png">
      </div>
    </div>
  </section>
